/* .body
{
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 100px;
    margin-right: 100px;
} */

html, body
{
    height: 100%;
}

#body
{
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
}

#home
{
    background: #000000;
    color: white;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: block;
    position: relative;
}

#view
{
    background: #ffffff;
    color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: block;
    position: relative;
}

.navbar-black
{
    background: #000000;
}

.navbar-black .navbar-nav .nav-item .nav-link
{
    color: white;
}
/* 
.jumbotron .lead
{
    padding-top: 15px;
    padding-bottom: 50px;
} */

.transparent-background
{
    background: transparent !important;
}

.brand{
    margin-left: 20px;
}

.view
{
    height: 720px;
}

.vertical-center
{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column; 
    justify-content: center;
}

.center-jumbotron
{
    margin: 0 auto;
}

.hidden
{
    display: none;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

#view
{
    padding-top: 60px;
}

#view .base-container
{
    margin: none;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

.panel
{
    margin: 5px; 
    border: 1px groove;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor: pointer;
    width: 500px;
    max-width: 500px;
    height: 635px;
    max-height: 635px;
    padding: 5px;
}

.panel:active
{
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.between
{
    margin: 0px;
    width: 250px;
    padding: 5px;
}