.root {
  max-width: 1000px;
  width: 600px;
  height: 425px;
  display: flex;
  justify-content: center;
  background-color: #212121 !important;
  margin-bottom: 10px;
}

.card-media {
  width: 600px;
  height: 350px;
}
