.root
{
    max-width: 1000px;
    width: 700px;
    height: 365px;
    display: flex;
    justify-content: center;
}

.casual
{
    background-image: url('./casual-mode.png');
}

.onevsone
{
    background-image: url('./1v1.png');
}

.onevsmany
{
    background-image: url('./1v1.png');
}

.royalrumble
{
    background-image: url('./1v1.png');
}