.splash-page
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.styledButton {
    background-color: #1F7A8C !important;
    color: white !important;
}

.styledButton:hover
{
    background-color: #022B3A !important;
    cursor: pointer !important;
}

.styledButton:before
{
    transform: translateX(300px)  skewX(-15deg);
    opacity: 0.6;
    transition: .7s;
}

.styledButton:after
{
    transform: translateX(300) skewX(15);
    opacity: 1;
    transition: .7s;
}

#cards-container
{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 5fr 5fr;
    align-items: flex-end;
    justify-items: center;
}